<h1 class="cols m-3">Stories Popular in {{countryName}}</h1>
<mat-chip-list class="category-center m-2" aria-label="Fish selection">
    <mat-chip color="accent" [selected]="category ==''" (click)="category ='' ">All</mat-chip>
    <mat-chip color="accent" [selected]="category =='business'" (click)="category ='business' ">Business</mat-chip>
    <mat-chip color="accent" [selected]="category =='entertainment'" (click)="category ='entertainment'">Entertainment
    </mat-chip>
    <mat-chip color="accent" [selected]="category =='general'" (click)="category ='general' ">General</mat-chip>
    <mat-chip color="accent" [selected]="category =='health'" (click)="category ='health' ">Health</mat-chip>
    <mat-chip color="accent" [selected]="category =='science'" (click)="category ='science' ">Science</mat-chip>
    <mat-chip color="accent" [selected]="category =='sports'" (click)="category ='sports' ">Sports</mat-chip>
    <mat-chip color="accent" [selected]="category =='technology'" (click)="category ='technology' ">Technology
    </mat-chip>

</mat-chip-list>
<!-- <mat-grid-list cols="1" rowHeight="1:1">
    <mat-grid-tile> -->
<div class="cols">
    <ne-story *ngFor="let story of stories; let i = index" [story]=story [id]='i'></ne-story>
    <mat-paginator *ngIf="totalResults" [length]="totalResults" [pageSize]="pageSize" (page)="onPageChange(  $event)">
    </mat-paginator>
</div>
<!-- </mat-grid-tile>
</mat-grid-list> -->