.example-icon {
	padding: 0 14px;
}

.example-spacer {
	flex: 1 1 auto;
}

.image-size {
	margin-right: 8px;
	width: 45px;
	border-radius: 50%;
	height: 45px;
	object-fit: cover;
}

.position-fixed {
  position: fixed;
  top: 0;
	z-index: 100;
}
