<div [class.dark]=darkMode>
  <mat-toolbar class="position-fixed shadow">
    <mat-toolbar-row>
      <img class="image-size" src="../assets/svgs/interface.svg" alt="" srcset="">
      <span>Anywhere</span>
      <span class="example-spacer"></span>
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon" [matMenuTriggerFor]="animals">verified_user</mat-icon> -->
      <img class="image-size" src="../assets/Country flags/{{selectedRegion}}.svg" alt="" srcset="">
      <span>{{getCountryName(selectedRegion.toUpperCase())}}</span>
      <button mat-icon-button color="accent" class="ml-1" aria-label="Example icon button with a menu icon"
        [matMenuTriggerFor]="availableCountries">
        <mat-icon>filter_list</mat-icon>
      </button>

      <mat-slide-toggle [(ngModel)]="darkMode">
        <ng-container *ngIf="!darkMode">
          <mat-icon>wb_sunny</mat-icon>
        </ng-container>
        <ng-container *ngIf="darkMode">
          <mat-icon>nights_stay</mat-icon>
        </ng-container>

      </mat-slide-toggle>

      <mat-menu #availableCountries="matMenu">

        <button mat-menu-item *ngFor="let code of CountryCodes" (click)="changeCountry(code)"><img class="image-size"
            src="../assets/Country flags/{{code}}.svg" alt="" srcset="">{{getCountryName(code.toUpperCase())}}</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <ne-headlines></ne-headlines>
  <ne-search></ne-search>
  <ne-story-list></ne-story-list>
  <!-- <section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
</section> -->
  <div class="footer">
    <p>Footer</p>
  </div>
</div>