<mat-card class="example-card mt-2 mb-2">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{story.source.name}}</mat-card-title>
    <mat-card-subtitle *ngIf="story.author">{{story.author}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!story.author">&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <img class="max-height" *ngIf="story?.urlToImage" mat-card-image [src]="story.urlToImage" [alt]='story.source.name'>
  <img class="max-height" *ngIf="!story?.urlToImage" mat-card-image
    src="https://i.ndtvimg.com/i/2015-07/money-generic_650x400_61436453403.jpg"
    [alt]='story.source.name'>
  <mat-card-content>
    <p *ngIf="story.description">
      {{story.description}}
    </p>
    <p>
      <p *ngIf="story.content">
        {{story.content}}
      </p>
      <p *ngIf="story.publishedAt">
        {{story.publishedAt | date:'EEEE, MMMM d, y'}}
      </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [href]="story.url" target="_blank">Visit</a>
    <button mat-button>SHARE</button>

  </mat-card-actions>
</mat-card>
<!-- <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">
    Share on Facebook
  </a> -->